In [1]:
import os
import shutil

import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\SABYA\\Aritar01\\CAP_106\\CAP_106_Research_Env'

In [18]:
df = pd.read_excel("C:/Users/SABYA/Aritar01/CAP_106/Raw_Data/BA_106.xlsx")

In [19]:
# separate date column
date = df['Date']
# drop date
df1 = df.drop(labels=["Date"], axis=1)

In [20]:
# converting object dtype into float
df2 = df1.astype('float')

In [22]:
# concat date and df2
df3 = pd.concat([date, df2], axis=1)

In [28]:
# columns to keep
ls = [
    'Date',
 'RUN Duration, hours',
 'RUN No.',
 'NpahthaFeedCoil1',
 'NpahthaFeedCoil12',
 'NpahthaFeedCoil3',
 'NpahthaFeedCoil4',
 'NpahthaFeedCoil5',
 'NpahthaFeedCoil6',
 'DS RateCoil1',
 'DS RateCoil2',
 'DS RateCoil3',
 'DS RateCoil4',
 'DS RateCoil5',
 'DSRateCoil6',
 'COT1',
 'COT2',
 'COT3',
 'COT4',
 'COT5',
 'COT6',
 'COT Average',
 'CIP1',
 'CIP2',
 'CIP3',
 'CIP4',
 'CIP5',
 'CIP6',
 'Wall_Fuel_Gas_Flow',
 'Ground_Fuel_Gas_Flow',
 'O2',
 'CrossOverTemp_Coil1',
 'CrossOverTemp_Coil2',
 'CrossOverTemp_Coil3',
 'CrossOverTemp_Coil4',
 'CrossOverTemp_Coil5',
 'CrossOverTemp_Coil6'
]
df4 = df3[ls]

In [31]:
# calulate mean, max and average of individual colis
total_naphtha_feed = df4[['NpahthaFeedCoil1',
 'NpahthaFeedCoil12',
 'NpahthaFeedCoil3',
 'NpahthaFeedCoil4',
 'NpahthaFeedCoil5',
 'NpahthaFeedCoil6']].sum(axis=1)
total_ds_rate = df4[['DS RateCoil1',
 'DS RateCoil2',
 'DS RateCoil3',
 'DS RateCoil4',
 'DS RateCoil5',
 'DSRateCoil6']].sum(axis=1)
avg_cot = df4[['COT1',
 'COT2',
 'COT3',
 'COT4',
 'COT5',
 'COT6']].mean(axis=1)
max_cip = df4[['CIP1',
 'CIP2',
 'CIP3',
 'CIP4',
 'CIP5',
 'CIP6'
 ]].max(axis=1)
avg_cross_over_temp = df4[['CrossOverTemp_Coil1',
 'CrossOverTemp_Coil2',
 'CrossOverTemp_Coil3',
 'CrossOverTemp_Coil4',
 'CrossOverTemp_Coil5',
 'CrossOverTemp_Coil6']].mean(axis=1)

total_ds_ratio = total_ds_rate / total_naphtha_feed

In [32]:
# a new dataframe with the above calculated values
df5 = pd.DataFrame({"Total_Naphtha_Feed": total_naphtha_feed,
                    "Total_DS_Rate": total_ds_rate,
                    "Total_DS_Ratio": total_ds_ratio,
                    "Avg_COT": avg_cot,
                    "Avg_CIT": avg_cross_over_temp,
                    "Max_CIP": max_cip,
                   })

In [34]:
# final columns to keep from df4
ls1 = ['Date',
        'RUN Duration, hours',
        'RUN No.',
        'Wall_Fuel_Gas_Flow',
        'Ground_Fuel_Gas_Flow',
        'O2']
df6 = df4[ls1]

In [36]:
# concat df5 and df6 
df7 = pd.concat([df6, df5], axis=1)

In [39]:
# Read the additional data
df8 = pd.read_excel("C:/Users/SABYA/Aritar01/CAP_106/Raw_Data/Additional_BA_106.xlsx")

In [46]:
# separate the date column from df8
date1 = df8['Date']

In [47]:
# create a date range list for the date column
date1_df = pd.DataFrame(pd.date_range(list(df8['Date'])[0], periods=df8.shape[0], freq='1h'), columns=['Date'])

In [48]:
# drop the date column from df8
df9 = df8.drop(labels=['Date'], axis=1)

In [49]:
# concat the above created date1_df with df9
df10 = pd.concat([date1_df, df9], axis=1)

In [53]:
# merge df7 and df10 on date column to get the final dataframe
df_final = pd.merge(df10, df7, on='Date').reset_index(drop=True)

In [54]:
# store the final dataframe
path = "C:/Users/SABYA/Aritar01/CAP_106/Processed_Data"
if os.path.isdir(path):
    df_final.to_excel("cap_106_processed_data.xlsx", index=False)